.cog-icon, .chat-icon, .footer-text, .footer-link {
    color: white;
    opacity: 0.6;
}

.caret-off::before {
    display: none;
}
.caret-off::after {
    display: none;
}

.cog, .chat-icon{
    height: 25px;
    width: 25px;
}

.checkout-button{
    margin-right: 25px;
}