table.sitter-list__table > tbody > tr > td, table.sitter-list__table > thead > tr > th, table.sitter-list__table {
  border: 1px dotted #56cc9d;
}

table.sitter-list__table > tbody > tr:hover {
    background-color: #f3969a;
    color: whitesmoke;
}

table.sitter-list__table > tbody > tr > td > a {
  display: block;
  width: 100%;
  height: inherit;
  padding: 6px;
  margin: 0px;
  text-decoration: none;
  color:inherit;
}

table.sitter-list__table > tbody > tr > td {
  padding: 0px;
}

.profile-pic{
  max-width: 150px;
  max-height: 300px;
}

.dashboard-container{
  padding-top: 40px;
  padding-bottom: 20px;
}

.dashboard-row:hover{
  background-color: #f5dbdc;
  /* color: whitesmoke; */
}

